<!---
<div class="container">

    <br>
    <div class="card-box">
        <div class="row">
            <div class="col-sm-4">
                <a routerLink="add" id="addbtn" class="btn btn-success btn-rounded">Add New</a>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="table-responsive">

                <table class="table table-bordered" id="datatable" role="grid">
                    <thead class="bg-primary text-white">
                        <tr role="row">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productData">
                            <td>{{item.proId}}</td>
                            <td>{{item.proName}}</td>
                            <td>{{item.proStock}}</td>
                            <td>{{item.proPrice}}</td>
                            <td>{{item.catName}}</td>

                            <td><button routerLink="edit/{{item.proId}}" class="btn btn-primary">Edit</button> |
                                <button (click)="delete(item.proId)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

-->

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="add" id="addbtn" class="btn btn-success btn-rounded">Add New</a>
        </div>
    </div>
    <br>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productData">
                <td>{{item.proId}}</td>
                <td>{{item.proName}}</td>
                <td>{{item.proStock}}</td>
                <td>{{item.proPrice}}</td>
                <td>{{item.catName}}</td>
                <td>
                    <button routerLink="{{item.proId}}" type="button"
                        class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        Edit
                    </button>
                    <button (click)="delete(item.proId)" type="button" class="btn btn-link btn-rounded btn-sm fw-bold"
                        data-mdb-ripple-color="dark">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>